.publiclayoutContainer{
    /* background-image: url('../assets/backImg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
    width: 100%;
    display: flex;
    min-height: 100vh;

    /* justify-content: center;
    align-items: center; */
}

.site-layout{
    background: aqua !important;
}

.contentBox{
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    max-height: 85vh;
    overflow: scroll;
    
}


@media only screen and (max-width: 540px) {
    .contentBox{
        padding: 0;
        border-radius: 0px;
        max-height: 100vh;
        overflow: scroll;
        padding-bottom: 20%;
        
    }
}