.stepContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .step {
    display: flex;
    align-items: center;
  }
  
  .stepCircle {
    width: 40px;
    height: 40px;
    border: 2px solid #ccc; /* Default border color */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  
  .stepLine {
    width: 50px;
    height: 2px;
    background-color: #ccc; /* Default line color */
    margin: 0 8px;
  }
  
  .stepLineActive {
    width: 50px;
    height: 2px;
    background-color: #007bff; /* Active line color */
    margin: 0 8px;
  }
  