
.loading_text{
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 400;
    color:  #000;
}

@media only screen and (max-width: 576px) {
    .loading_text{
        font-size: 14px;
    }
}