.phoneLabel {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0px;


}
.label {
  font-family: "Urbanist-medium";
  color: var(--black-color);
  font-size: var(--paragraph-font-size);
  /* font-family: var(--font-family); */
  /* font-weight: 600; */
}

.phoneInput {
  /* width: 100%; */
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin-top: 10px;
  font-family: var(--font-family);
  padding: 0 10px;

}
.PhoneNumber{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--black-color);
  display: flex;
  align-items: center;
}
.PhoneNumber::placeholder {
  color: var(--light-grey);
  /* font-weight: ; */
  font-family: "Urbanist-regular";
}
@media only screen and (max-width: 576px) {
  .label {
    font-size: 10px;
  }

  .phoneInput {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin-top: 5px; */
  }

  .phoneLabel {
    margin: 10px 0px 20px 0px;
  }

  .PhoneNumber {
    width: 100%;
    border: none;
    outline: none;
    font-size: 13px;
    color: #fff;
  }
}
